{# src/MerQury/PlatformBundle/Resources/views/Advert/index.html.twig #}


{% extends "MerQuryPlateformBundle::layout.html.twig" %}
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
{% block merqury_plateform_body %}
  <h2>Liste des annonces</h2>
  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('mer_qury_plateform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>
{% endblock %}